{% extends 'FASHION/base.html' %}
{% load static %}
{% block homeActive %}active{% endblock %}


{% block body %}


<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>SALE Flat 80% OFF</strong> Grab your Stylish Dresses.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-4">WelCome to Shopper</h1>
        <p class="lead">This is a simple hero unit,a simple jumbotron-style foe calling extra attention</p>
        <hr class="my-4">
        <p>IT uses utility classes for typography and spacing to space content out with out the larger container</p>
        <!-- <a class="btn btn-primary btn-lg" href="https://www.flipkart.com/?ef_id=64de72679f8812bbf092106f6a8dc793:G:s&s_kwcid=AL!739!10!75522840390274!75522970275457&semcmpid=sem_F1167BY7_Brand_adcenter" target="_blank" role="button">click to shop</a> -->
    </div>
</div>

<div id="carouselStart" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselStart" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselStart" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselStart" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'FASHION/home13.jpg' %}" class="d-block w-100 bd-placeholder-img" alt="..." height="500">
      </div>
      <div class="carousel-item">
        <img src="{% static 'FASHION/home23.jpg' %}" class="d-block w-100" alt="..." height="500">
      </div>
      <div class="carousel-item">
        <img src="{% static 'FASHION/home33.jpg' %}" class="d-block w-100" alt="..." height="500">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselStart" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselStart" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<div class="container">
<!-- slides  -->
  {% for product, range, nSlides in allProds %}
  <h3 class="my-4">Recomended {{product.0.catagory}} Fashion</h3>
  <div id="carouselExampleIndicators{{forloop.counter}}" class="carousel slide" data-bs-ride="true" style="padding: 8px;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators{{forloop.counter}}" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="background-color: rgb(90, 90, 90);"></button>
      {% for i in range %}
      <button type="button" data-bs-target="#carouselExampleIndicators{{forloop.parentloop.counter}}" data-bs-slide-to="{{i}}" aria-label="Slide 2" style="background-color: rgb(90, 90, 90);"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- <div class="col-xs-3 col-sm-3 col-md-3" style="display: inline-block ; margin-left:-4px;">
          <div class="card" style="width: 18rem;">
            <img style="width: 230px; height: 190px;" src="/media/{{product.0.image}}" class="card-img-top" alt="{{product.0.product_name}}">
            <div class="card-body">
              <h5 class="card-title">{{product.0.product_name}}</h5>
              <p class="card-text">{{product.0.descricption}}</p>
              <button id="pr{{product.0.id}}" class="btn btn-primary cart">Add to cart</button>
            </div>
          </div>
        </div>   -->
        
        {% for i in product %}
        <div class="col-xs-3 col-sm-3 col-md-3" style="display: inline-block; margin-left:-4px;">
          <div class="card" style="width: 18rem;">
            <img style="max-width: 230px; max-height: 190px;" src="/media/{{i.image}}" class="card-img-top" alt="{{i.product_name}}">
            <div class="card-body">
              <h5 class="card-title">{{i.product_name}}</h5>
              <p class="card-text">{{i.descricption}}</p>
              <button id="pr{{i.id}}" class="btn btn-primary cart"><i class="fa fa-rupee"></i> {{i.price}} | Add Cart</button>
            </div>
          </div>
        </div>
          {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
            </div><div class="carousel-item">
          {% endif%}

        {% endfor %}
        <!-- <img src="..." class="d-block w-100" alt="..."> -->
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{forloop.counter}}" data-bs-slide="prev" style="background: rgba(158, 158, 158, 0.445);">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{forloop.counter}}" data-bs-slide="next" style="background: rgba(158, 158, 158, 0.445);">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  {% endfor %}
</div>



{% endblock %}
{% block js %}
<script>
  // console.log('working');
  if(localStorage.getItem('cart')==null){
    var cart = {};
  }
  else{
    cart = JSON.parse(localStorage.getItem('cart'));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
  }
  $('.cart').click(function(){
    console.log('clicked');
    var idstr = this.id.toString();
    // console.log(idstr);
    if(cart[idstr] != undefined){
      cart[idstr] = cart[idstr] + 1;

    }
    else{
      cart[idstr] = 1;
    }
    console.log(cart);
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
  })

</script>
{% endblock %}


